<footer class="rodape">
  <div class="infos_rodape">
    <ul>
      <li><a href="home.html">Institucional</a></li>
      <li><a href="home.html">Como comprar</a></li>
      <li><a href="home.html">Segurança</a></li>
      <li><a href="home.html">Garantia</a></li>
      <li><a href="home.html">Dúvidas frequente</a></li>
    </ul>

  </div>

  <div class="infos_rodape">
    <ul>
      <li><a href="home.html"> Entregas</a></li>
      <li><a href="home.html">Trocas e devoluções</a></li>
      <li><a href="home.html">Políticas de Privacidade</a></li>
      <li><a href="home.html">Políticas de envio</a></li>
      <li><a href="home.html">Fale conosco</a></li>
    </ul>
  </div>

  <div class="redes_rodape">
    <ul>
      <li><a href="https://www.facebook.com"><img class="logo_footer" src="/images/footer_face_logo.png"></a></li>
      <li><a href="https://www.instagram.com"><img class="logo_footer" src="/images/instagram.svg"></a></li>
      <li><a href="https://www.twitter.com"><img class="logo_footer" src="/images/footer_twitter_logo.png"></a></li>

    </ul>

  </div>

</footer>