<header>
  <nav class="cabecalho">
    <div class="logo">
      <a href="/"><img src="/images/logo.svg"></a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="pulseiras">Pulseiras</a></li>
      <li><a href="brincos">Brincos</a></li>
      <li><a href="colares">Colares</a></li>
      <li><a href="carrinho2">Carrinho</a></li>
      <li><a href="login">Login</a></li>
    </ul>

  </nav>
</header>