<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/brincos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

  <title>Pulseiras</title>
</head>

<body>

  <header>
    <nav class="cabecalho">
      <div class="logo">
        <a href="/"><img src="/images/logo.svg"></a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="pulseiras">Pulseiras</a></li>
        <li><a href="brincos">Brincos</a></li>
        <li><a href="colares">Colares</a></li>
        <li><a href="carrinho2">Carrinho</a></li>
        <li><a href="login">Login</a></li>
      </ul>

    </nav>
  </header>

  <main class="principal">
    <div class="produtos_brincos">
      <ul>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>
        <li>
          <a href="info-produto.html"><img class="imagem-produto" src="/images/produto4.png"></a>
          <p class="nome-produto">Brinco</p>
          <p class="preco-produto">R$ 50,00</p>
          <a href="carrinho2"><button class="botao-produto">Adicionar ao carrinho</button>
          </a>

        </li>







      </ul>

    </div>





  </main>

  <footer class="rodape">
    <div class="infos_rodape">
      <ul>
        <li><a href="/">Institucional</a></li>
        <li><a href="/">Como comprar</a></li>
        <li><a href="/">Segurança</a></li>
        <li><a href="/">Garantia</a></li>
        <li><a href="/">Dúvidas frequente</a></li>
      </ul>

    </div>

    <div class="infos_rodape">
      <ul>
        <li><a href="/"> Entregas</a></li>
        <li><a href="/">Trocas e devoluções</a></li>
        <li><a href="/">Políticas de Privacidade</a></li>
        <li><a href="/">Políticas de envio</a></li>
        <li><a href="/">Fale conosco</a></li>
      </ul>
    </div>

    <div class="redes_rodape">
      <ul>
        <li><a href="https://www.facebook.com"><img class="logo_footer" src="/images/footer_face_logo.png"></a></li>
        <li><a href="https://www.instagram.com"><img class="logo_footer" src="images/instagram.svg"></a></li>
        <li><a href="https://www.twitter.com"><img class="logo_footer" src="/images/footer_twitter_logo.png"></a></li>

      </ul>

    </div>

  </footer>



  <script src="./js/script.js"></script>


</body>

</html>