<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/shop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <img src="./imagens/logo.svg">
                <nav class="nav_Cabecalho">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="produtos.html">Produtos</a></li>
                    <li><a href="pesquisa.html"><img src="./imagens/lupa.svg"></a></li>
                    <li><a href="carrinho.html"><img src="./imagens/carrinho.svg"></a></li>
                    <li><a href="login.html"><img src="./imagens/botao.svg"></a></li>
                    <li><a href="cadastro.html"><img src="./imagens/cadastro.svg"></a></li>
                </ul>
            </nav>
        </div>


    </header>

    <main class="principal">
        <div class="produto-principal">
            
            <div>
                <a href="produto1html"><img class="lista-produtos" src="./imagens/produto1.png"></a>
                <p class="descricao-lista-produtos">Brinco</p>
                <p class="descricao-preco-produtos">R$ 50,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>

            <div>
                <a href="produto12html"><img class="lista-produtos" src="./imagens/produto2.png"></a>
                <p class="descricao-lista-produtos">Brinco</p>
                <p class="descricao-preco-produtos">R$ 60,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>    
                    
             <div>
                <a href="produto3html"><img class="lista-produtos" src="./imagens/produto3.png"></a>
                <p class="descricao-lista-produtos">Anel</p>
                <p class="descricao-preco-produtos">R$ 150,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>   
             
            <div>
                <a href="produto4html"><img class="lista-produtos" src="./imagens/produto4.png"></a>
                <p class="descricao-lista-produtos">Pulseira</p>
                <p class="descricao-preco-produtos">R$ 250,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>
                    
            <div>
                <a href="produto1html"><img class="lista-produtos" src="./imagens/produto1.png"></a>
                <p class="descricao-lista-produtos">Brinco</p>
                <p class="descricao-preco-produtos">R$ 50,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>

            <div>
                <a href="produto12html"><img class="lista-produtos" src="./imagens/produto2.png"></a>
                <p class="descricao-lista-produtos">Brinco</p>
                <p class="descricao-preco-produtos">R$ 60,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>    
                    
             <div>
                <a href="produto3html"><img class="lista-produtos" src="./imagens/produto3.png"></a>
                <p class="descricao-lista-produtos">Anel</p>
                <p class="descricao-preco-produtos">R$ 150,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>   
             
            <div>
                <a href="produto4html"><img class="lista-produtos" src="./imagens/produto4.png"></a>
                <p class="descricao-lista-produtos">Pulseira</p>
                <p class="descricao-preco-produtos">R$ 250,00</p>
                <a href="carrinho.html"><img src="./imagens/botao-carrinho.svg" Carrinho</a>
            </div>
            
            
                      
        </div>
    </main>

    <footer>
        <div class="rodape">
            <div class="itens_Rodape">
                <ul>
                    <li><a href="https://www.instagram.com/"> <img src="./imagens/instagram.svg"></a></li>
                    <li><a href="https://br.pinterest.com/"> <img src="./imagens/pinterest.svg"></a></li>
                    <li><a href="https://br.facebook.com/"> <img src="./imagens/facebook.svg"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>